name: Audit
on:
  schedule:
    - cron: "30 6 * * 1" # "At 06:30 on Monday."
  workflow_call:

concurrency:
  group: ${{ github.workflow }}@${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  backend-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Audit Rust dependencies
        uses: actions-rust-lang/audit@v1
        with:
          workingDirectory: backend
          createIssues: false
          TOKEN:

  frontend-audit:
    uses: ./.github/workflows/run-in-nix-env.yml
    with:
      commands: npm audit
      working-directory: frontend/