name: CI

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}@${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  # Create a new Nix cache if none exists
  # All jobs that use the cache should "need" this job
  build-cache-nix:
    name: Build and cache Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}
          lookup-only: true

      - name: Install Nix
        id: nix-install
        if: steps.nix-cache.outputs.cache-hit != 'true'
        uses: cachix/install-nix-action@v31

      - name: Export Nix cache
        if: steps.nix-cache.outputs.cache-hit != 'true'
        run: |
          # Get Nix store paths of the flake's runtime closure (dependencies required to run the devShell)
          STORE_PATHS=$(nix path-info -r $(nix build --no-link --print-out-paths .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default))
          nix-store --export $STORE_PATHS > /tmp/nix-cache
          
  backend-checks:
    name: backend-checks
    runs-on: ubuntu-latest
    needs: build-cache-nix # Build a Nix cache first, so all matrix runners have access to it
    strategy:
      fail-fast: false
      matrix:
        context:
          # cargo command, requires database
          [
            ["fmt -- --check", false],
            ["clippy -- -D warnings --allow clippy::needless_return", false],
            ["test", true, 'backend/'],
          ]
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        id: nix-install
        uses: cachix/install-nix-action@v31

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}

      - run: |
          echo No Cache found, but one should have been saved
          exit 1
        if: steps.nix-cache.outputs.cache-hit != 'true'
      
      # https://github.com/cachix/install-nix-action/issues/56#issuecomment-1240991760 (thanks)
      - name: Import Nix store cache
        run: "nix-store --import < /tmp/nix-cache"

      - name: Pre-build devShell # In theory the Nix cache should have a hit and therefore the devShell should already be built in the cache
        run: nix build --no-link .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default

      - name: Start Database
        if: matrix.context[1]
        shell: nix develop -c bash -e {0}
        run: db-start

      - name: Perform check
        working-directory: 'backend/'
        shell: nix develop ../ -c bash -e {0}
        run: cargo ${{matrix.context[0]}}

  frontend-checks:
    name: frontend-checks
    runs-on: ubuntu-latest
    needs: build-cache-nix # Build a Nix cache first, so all matrix runners have access to it
    strategy:
      fail-fast: false
      matrix:
        context:
          # cargo command, requires database
          [
            ["lint"],
            ["typecheck"],
            ["build"]
          ]
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        id: nix-install
        uses: cachix/install-nix-action@v31

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}

      - run: |
          echo No Cache found, but one should have been saved
          exit 1
        if: steps.nix-cache.outputs.cache-hit != 'true'
      
      - name: Import Nix store cache
        run: "nix-store --import < /tmp/nix-cache"

      - name: Pre-build devShell # In theory the Nix cache should have a hit and therefore the devShell should already be built in the cache
        run: nix build --no-link .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default

      - name: Perform check
        working-directory: 'frontend/'
        shell: nix develop ../ -c bash -e {0}
        run: |
          npm ci
          npm run ${{matrix.context[0]}}
