name: Cache Nix Store
description: |
  Create a new Nix cache if none exists
  All jobs that use the cache should "need" this job/workflow
on:
  workflow_call:

jobs:
  build-cache-nix:
    name: Build and cache Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}
          lookup-only: true

      - name: Install Nix
        id: nix-install
        if: steps.nix-cache.outputs.cache-hit != 'true'
        uses: cachix/install-nix-action@v31

      - name: Export Nix cache
        if: steps.nix-cache.outputs.cache-hit != 'true'
        run: |
          # Get Nix store paths of the flake's runtime closure (dependencies required to run the devShell)
          STORE_PATHS=$(nix path-info -r $(nix build --no-link --print-out-paths .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default))
          nix-store --export $STORE_PATHS > /tmp/nix-cache